*{
    padding: 0;
    margin: 0;
}

body {
    background-color: lightseagreen;
    font-family: 'Qahiri', sans-serif;
    font-size: 50px;
}

/* Playfield*/

.wrap {
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mineGrid{
    position: fixed;
    display: flex;
    width: 400px;
    height: 400px;
    flex-flow: row wrap;
    border-top: 8px solid grey;
    border-right: 8px solid white;
    border-bottom: 8px solid white;
    border-left:8px solid grey;
    z-index: 0;
}

/* Cases */

.mineGrid div {
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: default;
}

.case1 {
    color: blue;
    width: 46px;
    height: 46px;
    background-color: lightgrey;
    border-right: 4px dotted black;
    border-bottom: 4px dotted black;
}

.case2 {
    color: green;
    width: 46px;
    height: 46px;
    background-color: lightgrey;
    border-right: 4px dotted black;
    border-bottom: 4px dotted black;
}

.case3 {
    color: red;
    width: 46px;
    height: 46px;
    background-color: lightgrey;
    border-right: 4px dotted black;
    border-bottom: 4px dotted black;
}

.case4 {
    color: blueviolet;
    width: 46px;
    height: 46px;
    background-color: lightgrey;
    border-right: 4px dotted black;
    border-bottom: 4px dotted black;

}

.caseMine {
    width: 46px;
    height: 46px;
    background-color: lightgrey;
    border-right: 4px dotted black;
    border-bottom: 4px dotted black;

}

img {
    max-width: 80%;
}

.caseBlank {
    width: 46px;
    height: 46px;
    background-color: lightgrey;
    border-right: 4px dotted black;
    border-bottom: 4px dotted black;
}

.caseHidden {
    position: relative;
    width: 46px;
    height: 46px;
}

.caseHidden::after {/* ::after creates the same element and places it at the back of its parent,
                    so we give the parent a position, the child an absolute position and we move the child on top of the parent*/
    width: 42px;
    height: 42px;
    background-color: rgb(211, 211, 211);
    border-top: 4px solid white;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid white;
    box-shadow: inset 0px -4px grey, inset -4px 0px grey;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
}

.caseHidden:hover::after {
    opacity: 0%;
}
